@tailwind base;

.dark {
  color-scheme: dark;
}

html {
  height: 100%;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  overflow-y: overlay; /* Shows scrollbar over content instead of causing a layout shift */
}

body {
  min-height: 100%;
}

abbr[title] {
  text-decoration: none;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

/* Always allocates space for the scrollbar even if it is not currently overflowing */
.stable-scrollbar-gutter {
  scrollbar-gutter: 'stable';
}
